{% extends 'noticia_plant.html' %}

{% block content %}
    <div align="center">
        <h1>Deportes</h1>
    </div>

    <div class="contenedor">
        <div class="item-not">
            <a href="n_deportes1"><img class="item-img" src="https://assets.megamediaradios.fm/sites/2/2019/06/3229_1_5cffa8d3dd216.jpg" alt="" class="item-img"></a>
            <div class="resumen" align="center">
                <p>Jarry gana y avanza</p>
            </div>
        </div>
        <div class="item-not">
            <a href="n_deportes2"><img class="item-img" src="https://static.emol.cl/emol50/Fotos/2021/04/29/file_20210429120619.jpg" alt="" class="img-min"></a>
            <div class="resumen" align="center">
                <p>Curico muestra su enojo</p>
            </div>
        </div>
    </div>
 {% endblock content %}