{% extends 'noticia_plant.html' %}

{% block content %}
    <h1 style="text-align: center">Ciencias</h1>
    <div class="contenedor">
        <div class="item-not">
            <a href="n_ciencias3"><img class="item-img" src="https://static2.abc.es/media/ciencia/2021/04/20/colision-kiRD--620x349@abc.jpg" alt="" class="item-img"></a>
            <div class="resumen">
                <p style="text-align: center">La ESA advierte contra las constelaciones de satélites como la de Elon Musk</p>
            </div>
        </div>
        <div class="item-not">
            <a href="n_ciencias1"><img class="item-img" src="https://r1.abcimg.es/resizer/resizer.php?nuevoancho=620&imagen=%2F%2Fstatic1.abc.es%2Fmedia%2Fciencia%2F2021%2F04%2F22%2Fpia24571-mw-halo-stars-map-ko0B--620x349%40abc.jpg&medio=abc" alt="" class="img-min"></a>
            <div class="resumen">
                <p style="text-align: center">El nuevo mapa estelar que revela los secretos ocultos de la Vía Láctea</p>
            </div>
        </div>
        <div class="item-not">
            <a href="n_ciencias2"><img class="item-img" src="https://static1.abc.es/media/ciencia/2021/04/22/agujeronegro-kGMF--620x349@abc.jpg" alt="" class="img-min"></a>
            <div class="resumen">
                <p style="text-align: center">Descubierto el 'Unicornio', el agujero negro más cercano a la Tierra</p>
            </div>
        </div>
    </div>
{% endblock content %}