{% extends 'noticia_plant.html' %}

{% block content %}
    <h1 class="titulo-noticia">Funeral masivo de Tomás Bravo: Así ha sido la última despedida de Tomás Bravo</h1>

    <figure class="imagen-principal">
        <img class="imgn" src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1g2y2y.img?h=450&w=799&m=6&q=60&o=f&l=f">
        <figcaption></figcaption>
    </figure>
    <div align="center" >
        <h7>Creado por: Diego Encina    |</h7>
        <h7> Fecha: 23/04/2021  |</h7>
        <h7> Categoría: Actualidad</h7>
    </div>
    <br>
    <div class="noticia-cont">
        <p class="parrafo">A dos meses de su muerte, la familia, amigos y comunidad de Tomás Bravo despidieron el sábado los restos del pequeño en el Cementerio General de Arauco, en Ranqui, región del Biobío.</p>
        <p class="parrafo">El velatorio comenzó la tarde del viernes, luego que el Servicio Médico Legal (SML) entregó el cuerpo del niño, que fue sometido a una serie de peritajes que, hasta ahora, concluyen que su deceso fue por hipotermia e inanición, y prosiguió con
            su traslado a la sede vecinal Ranqui Bajo.</p>
        <h5 class="sub-t">¿Como fue el funeral de Tomas Bravo?</h5>
        <p class="parrafo">A las 14:00 horas comenzó el funeral y despedida que reunió a decenas de vecinos conmovidos por lo sucedido al pequeño de tres años y siete meses.</p>
        <p class="parrafo">osteriormente, el cortejo guiado por una carroza fúnebre del Siglo XIX, con cubierta de vidrio, se dirigió hasta la casa materna del niño, trayecto en el que también se detuvo en el memorial que los habitantes del sector levantaron para honrarlo.</p>
        <p class="parrafo">Su familia y la gente piden justicia tras la desaparición y muerte de Tomás Bravo. Esto porque la tesis es que el menor fue secuestrado y asesinado tras su extravío el pasado 17 de febrero.</p>

    </div>
    </div>
    </div>
{% endblock content %}