{% extends 'noticia_plant.html' %}
{% load static %}


{% block content %}

    <h1 class="titulo-noticia">Producción industrial y ventas del comercio repuntan y superan expectativas del mercado</h1>
    <br>
    <br>
    <figure class="imagen-principal">
        <img class="imgn" src="{% static 'img/noticia3.jpg' %}">
    </figure>
    <br>
    <br>
    <div class="noticia-cont">
        <p class="parrafo">En marzo la industria tuvo un aumento de 2,9% y las ventas minoristas subieron 23,8%. La producción industrial se recuperó en marzo y anotó un aumento de 2,9% en doce meses, frente a la caída de 3,4% registrado en febrero, informó este viernes el Instituto Nacional de Estadísticas (INE).</p>

        <p class="parrafo">El Índice de Producción Manufacturera fue el que más influyó en el resultado, con un alza de 3,9%, tras haber anotado un descenso de 0,6% el mes anterior.</p>


        <p class="parrafo">Además en este último caso la cifra se ubicó por sobre las expectativas de los analistas que habían estimado 
            un aumento de 2%. El incremento se debió principalmente al aumento en la elaboración de bebidas alcohólicas y no alcohólicas, en especial de vino de uvas frescas envasado, dijo el INE.</p>

        <p class="parrafo">Por su parte la producción minera creció 2,1% interanualmente por la mayor actividad registrada en la minería metálica y en la minería no metálica. El Índice de Producción de Electricidad, Gas y Agua, en tanto, aumentó 1,8% destacando electricidad.</p>

        <h5 class="sub-t">Comercio</h5>
            

        <p class="parrafo">El comercio también tuvo un positivo desempeño. Las ventas minoristas crecieron 23,8% en marzo, acumulando un alza de 10,8% en lo que va del año. El crecimiento fue muy superior al 4% del mes anterior y también superó las expectativas de los analistas que esperaban un alza de 20%.</p>


        <p class="parrafo">Las líneas de productos que más aportaron en el aumento del índice fueron productos electrónicos, para el equipamiento del hogar y tecnológicos; vehículos automotores livianos nuevos ; y materiales para la construcción, herramientas, ferretería y pintura , con incrementos de 61,2%, 98,8% y 47,3%, respectivamente.</p>
    </div>
    </div>
    </div>
 {% endblock content %}   