{% extends 'noticia_plant.html' %}
{% load static %}

{% block content %}

    <h1 class="titulo-noticia">Cámara aprueba solicitud del Frente Amplio para interpelar a ministro Prokurica por polémicas del Ejército</h1>
    <br>
    <br>
    <figure class="imagen-principal">
      <img class="imgn" src="https://imagenes.t13.cl/images/original/2019/08/1566864689-baldo.jpg?width=1200&height=675&position=top">
    </figure>
    <div align="center" >
        <h7>Creado por: Nicolás Contreras    |</h7>
        <h7> Fecha: 30/04/2021  |</h7>
        <h7> Categoría: Politica</h7>
    </div>
    <br>
    <div class="noticia-cont">
      <p class="parrafo">Hoy fue sometido a votación y aprobada la solicitud liderada por el Frente Amplio de interpelar al ministro de 
          Defensa Baldo Prokurica a propósito de distintas situaciones en las que se ha visto involucrada el Ejército. La acción, 
          que considera invitar al secretario de Estado para un interrogatorio, obtuvo 78 respaldos, 62 en contra y dos abstenciones. 
          Según informó el vicepresidente la Cámara la cita será en una sesión especial programada para el próximo martes 18 de mayo. </p>

      <p class="parrafo">La interpelación impulsada por el diputado de Revolución Democrática, Jorge Brito, se basa en tres aspectos según ha 
          señalado el legislador: "El actuar de las unidades de inteligencia en relación al seguimiento de la jueza que investiga el espionaje a 
          periodistas investigativos y a denunciantes de corrupción". "El segundo son las labores que estarían cumpliendo en resguardo del orden 
          público y seguridad interior, materializado en los patrullajes mixtos en especial en la región de La Araucanía y el tercero, la serie de 
          comunicados que ha generado efectos adversos en nuestro país", añadió. Consultado a la posibilidad de ser interpelado, el ministro señaló 
          el martes pasado que estaba "disponible" para responder el cuestionario ante la Cámara.</p>
        
    </div>
  </div> 
</div>
{% endblock content %}