{% extends 'noticia_plant.html' %}


{% block content %}
    <h1 class="titulo-noticia">Polémica por jugador de Curicó que fue castigado dos fechas por "furioso" reclamo en las redes: Lo que publicó</h1>
    <br>
    <br>
    <figure class="imagen-principal">
      <img class="imgn" src="https://static.emol.cl/emol50/Fotos/2021/04/29/file_20210429120619.jpg">
    </figure>
    <div align="center" >
        <h7>Creado por: Nicolás Contreras    |</h7>
        <h7> Fecha: 03/05/2021  |</h7>
        <h7> Categoría: Deportes</h7>
    </div>
    <br>
    <div class="noticia-cont">
      <p class="parrafo">En toda una polémica se ha transformado el inédito castigo al jugador de Curicó Unido, Bayron Oyarzo, por la 
      publicación que hizo en Instagram hace unos días. El delantero compartió una imagen del cuestionado gol anulado a su equipo en la 
      visita a la UC, el pasado 16 de abril, y lo acompañó de un contundente mensaje. "La pu... madre, qué robo más grande", escribió. 
      Además le agregó un emoji "furioso" a sus palabras. A raíz de esa publicación, la ANFP decidió sancionar al jugador. El Tribunal de 
      Disciplina acogió la denuncia de la Comisión Arbitral y le dio dos fechas de castigo a Oyarzo.  </p>

      <p class="parrafo">Ahora el Sifup entró a escena y fustigó la determinación tomada en el ente rector. "Denunciar y castigar a un jugador 
      por una publicación en su Instagram privado, atenta gravemente contra la libertad de opinión, consagrada en la Constitución 
      (art. 19 Nº 12), el Código del Trabajo (art. 152 bis K, inc 3º) y la Declaración Universal de los Derechos de los Jugadores (art. 13)", 
      publicó el gremio en su cuenta de Twitter. "Urge frenar esta ridícula persecución arbitral y corregir la sanción impuesta", añadió su 
      mensaje. Oyarzo no podrá jugar contra Cobresal como visitante y frente a Huachipato de local. Martín Palermo lamenta la baja.</p>
        
    </div>
  </div> 
</div>
{% endblock content %}