{% extends 'noticia_plant.html' %}

{% block content %}
    <h1 class="titulo-noticia">Jarry saca adelante un duelo complicado, estira su gran racha y avanza a los cuartos del Challenger de Salinas 2: Mira el match point</h1>
    <br>
    <br>
    <figure class="imagen-principal">
      <img class="imgn" src="https://assets.megamediaradios.fm/sites/2/2019/06/3229_1_5cffa8d3dd216.jpg">
    </figure>
    <div align="center" >
        <h7>Creado por: Nicolás Contreras    |</h7>
        <h7> Fecha: 23/04/2021  |</h7>
        <h7> Categoría: Deportes</h7>
    </div>
    <br>
    <div class="noticia-cont">
      <p class="parrafo">Sigue en racha. Nicolás Jarry (370°), quien viene de obtener un título, volvió a ganar y ahora avanzó a los cuartos de final del 
      Challenger de Salinas 2. El tenista chileno derrotó en octavos al neerlandés Tim Van Rijthoven (293°) por 6-3 y 7-5 en una hora y 31 
      minutos de un duelo que fue complicado. Si bien el nacional volvió a llevarse la victoria en sets corridos, no fue un duelo para nada 
      sencillo ante un rival que sacó y devolvió bien.  </p>

      <p class="parrafo">En el primer set todo fue muy igualado y gracias a un quiebre "Nico" logró llevarse la manga por 6-3. Pero en el 
      segundo parcial el panorama cambió. El europeo le quebró al nacional y sacó 5-3 para intentar estirar el partido a un tercer set. 
      Parecía que el duelo se extendería, sin embargo, Jarry salvó cuatro set points y le rompió el servicio de vuelta. Luego, el chileno 
      volvió a salvar una situación complicada, quebró nuevamente y cerró el encuentro con un ace y con mucha autoridad. Ahora, por el paso a 
      semis de Salinas 2, el ex 38° del mundo se medirá ante el colombiano Nicolás Mejía (342°), a quien venció en la final del torneo pasado.</p>
        
    </div>
  </div>  
</div>
{% endblock content %}