{% extends 'noticia_plant.html' %}
{% block content %}
    <h1 class="titulo-noticia">El nuevo mapa estelar que revela los secretos ocultos de la Vía Láctea</h1>

    <figure class="imagen-principal">
        <img class="imgn" src="https://r1.abcimg.es/resizer/resizer.php?nuevoancho=620&imagen=%2F%2Fstatic1.abc.es%2Fmedia%2Fciencia%2F2021%2F04%2F22%2Fpia24571-mw-halo-stars-map-ko0B--620x349%40abc.jpg&medio=abc" alt>
        <figcaption>Lauren Fanfer</figcaption>
    </figure>
    <div align="center" >
        <h7>Creado por: Luis Ledezma    |</h7>
        <h7> Fecha: 04/05/2021  |</h7>
        <h7> Categoría: Ciencias</h7>
    </div>
    <br>

    <div class="noticia-cont">
        <p class="parrafo">
            Es bien sabido que en el espacio exterior las distancias son astronómicas y, tan inimaginables para los seres humanos, que el mapa estelar cambia y nosotros no nos damos cuenta. O no, por lo menos, hasta que no se estudia y analiza qué hay ahí afuera
            y cómo cambia el Universo.
        </p>
        <p class="parrafo">
            Esto fue lo que una investigación liderada por el Centro de Astrobiología de España resolvió, luego que publicara en el portal de la Royal Astronomical Society un estudio que logró identificar una estructura oculta de estrellas, relativamente nuevas,
            para la Vía Láctea
        </p>
        <h5 class="sub-t">Misión Gaia reestructurará el mapa de la Vía Láctea</h5>
        <p class="parrafo">
            El descubrimiento de estas estrellas se dio en el marco de la misión Gaia, la cual tiene por objetivo actualizar la lista de estrellas de la Vía Láctea.
        </p>
        <p class="parrafo">
            Esta misión de la ‘Agencia Espacial Europea’ (ESA), realizó mediciones de alta precisión de casi 1 mil 700 millones de estrellas. El estudio, que incluye actividades de cartografía estelar, durará 22 meses. Como labor principal, los nuevos datos incluyen
            posiciones, indicadores de distancia y movimientos, de miles de estrellas de la galaxia espiral.
        </p>
    </div>
    </div>
    </div>
{% endblock content %}