<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <title>REGISTRO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/registro.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <style>

    </style>
</head>

<body>

    <body>
        <div class="container" id="registration-form">
            <div class="image"></div>
            <div class="frm text-white-50">
                <h1>REGISTRO</h1>
                <form id="basic-form" name="basic-form" action="nuevas-noticias.html" method="post">
                {% csrf_token %}
                    <div class="form-group">
                    {{ form.as_table }}
                        <label for="username">Usuario  <span>(Minimo 10 caracteres)</span></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu e-mail">
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Contraseña <span>(Minimo 8 caracteres)</span></label>
                        <input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirme contraseña</label>
                        <input type="password" class="form-control" id="pwd2" name="pwd2" placeholder="Reingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg" role="button">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>

    </body>

</html>
</body>


</html>