<!DOCTYPE html> {% load static %}
<html lang="en">

{% load crispy_forms_tags %}

<head>

    <title>REGISTRO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/registro.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <style>

    </style>
</head>

<body>

    <body>
        <div class="container" id="registration-form">
            <div class="image"></div>
            <div class="frm text-white-50">
                <h1>REGISTRO</h1>
                <form id="formulario" name="basic-form" action="" method="post">
                {% csrf_token %}
                    <div class="form-group">
                    {{ form | crispy }}
                        
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg" role="button">Registrarse</button>
                    </div>
                </form>
                <div class="alert alert-success" role="alert">
                    {{ mensaje }}
                </div>
                </div>
            </div>
        </div>

    </body>

</html>
</body>


</html>